<!DOCTYPE html>
<html>
<head>
  <title>R-F</title>
  <%= favicon_link_tag 'https://c2.staticflickr.com/2/1627/26575633466_febcfa6057.jpg', rel: 'icon', type: 'image/jpg' %>
 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
